@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    background-color:white;
    font-family: 'Montserrat', sans-serif;
}
.fluid-container{
    position: relative;
}
.wtsapp{
    bottom: 5%;
    color:black;
    right:1%;
    position :fixed;
    z-index: 1000;
}
.navbar{
    position: relative;
    border-bottom-right-radius:.3rem;
    border-bottom-left-radius:.3rem;
    padding: 1.2rem 0;
    margin-bottom:1rem;
    background-color:white !important;
}
#navbarNav{
    margin: auto;
    padding:0 5rem;
    padding:0 2rem;
}

.brand{
    position: absolute;
    color:black;
    font-family: 'Montserrat', sans-serif; 
    left: 35%;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin-right: 1rem;
}
.fixed-brand{
    top: 5%;
    left: 40%;
    font-weight: bold;
}
.page-heading {
    display: none;
}
.css-nav{
    display:flex;
    width: 90%;
    justify-content:space-evenly;
    align-items:center;
    height: 15rem;
    margin: 0 auto;
    margin-left: 9rem;
}
.respLogo{
    display:none;
}
.companyLogo{
    width:10rem;
    border-radius:50%;
}
.nav-item{
    position:relative;

}
.nav-link{
    color:black !important;
    letter-spacing:.1rem;
    font-size:1.6rem;
    font-family: 'Montserrat', sans-serif;    
    padding: 1.1em 1.7em;    
}

.nav-link::after{
    content:"";
    position:absolute;
    background-color:black;
    height:.2rem;
    left:0;
    width:0;
    bottom:5%;
    transition: all .3s ease-in;
}

.nav-link:hover::after{
    width: 100%;
}




/* .carousel{
    height:450px;
} */

.carousel-item {
    height: 100%;
    width: 100%;
    padding:2rem;
}
/* .carousel-item img{
    height:450px;
} */
.carousel-control-prev-icon,.carousel-control-next-icon{
    width:3rem;
}
.d-block,.carousel-item img{
    aspect-ratio: 16/9;
    min-width: 100%;
}


main {
    width: 100%;
    background-image: url(../assets/images/grey-texture-background-desktop-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.films-container,.photos-container{
    width: 100%;
    color:black;
    letter-spacing: .1rem;
    text-align:center;
    font-family: 'Montserrat', sans-serif;   
    margin-bottom:3em;
    margin-top:5rem;
}
.mobile-carousel{
    display: none;
}
.photos {
    width: 90rem;
    height: 75rem;
    margin:auto;
    margin-bottom:2rem;
    display: grid;
    max-width: 100%;
    aspect-ratio: 16/9;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem 3rem;
    padding:1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "photo-1 photo-2 photo-3"
        "photo-4 photo-5 photo-6"
        "photo-7 photo-8 photo-9";
    transition: all 0.3s;
}

.photo-1 {
    grid-area: photo-1;
}

.photo-2 {
    grid-area: photo-2;
}

.photo-3 {
    grid-area: photo-3;
}

.photo-4 {
    grid-area: photo-4;
}

.photo-5 {
    grid-area: photo-5;
}

.photo-6 {
    grid-area: photo-6;
}

.photo-7 {
    grid-area: photo-7;
}

.photo-8 {
    grid-area: photo-8;
}

.photo-9 {
    grid-area: photo-9;
}
.photo img{
    max-width: 100%;
    aspect-ratio:16/9;
}
.photo{
    border:1rem solid white;
    border-bottom: 5rem solid white;
    box-shadow: 0 2rem 3rem rgba(0,0,0,.5);
    max-width: 100%;
        aspect-ratio: 16/9;
}


.film-heading,
.heading {    
    margin-bottom: .7em;
    letter-spacing: .4rem;
    text-transform: uppercase;
    font-size:2.5rem;
}
.heading-animation {
    animation: filmHeading 3s;
}
.films-container .film-desc,
.desc{
    width:60%;
    margin:auto;
    margin-bottom:2em;
    font-size:1.5rem;
}
.desc-animation {
    animation: 2s filmHeading 1s; 
    animation-fill-mode: backwards;
}
.mobileFilms{
    display:none;
}
.films {
    width: 90rem;
    height: 50rem;
    margin:auto;
    padding:2rem;
    display: grid;
    max-width: 100%;
    aspect-ratio: 16/9;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: .2rem 2rem;
    grid-template-areas:
        "film-1 film-2 film-3"
        "film-4 film-5 film-6"
        "film-7 film-8 film-9";
        transition: all 0.3s;
    
}
.tiles{
    animation: filmHeading 2s 2s backwards;
}

.film{
    max-width: 100%;
    aspect-ratio: 16/9;
}
.film iframe{
    border-radius: .3rem;
    max-width: 100%;
    aspect-ratio: 16/9;
}
.film-1 {
    grid-area: film-1;
}

.film-2 {
    grid-area: film-2;
}

.film-3 {
    grid-area: film-3;
}

.film-4 {
    grid-area: film-4;
}

.film-5 {
    grid-area: film-5;
}

.film-6 {
    grid-area: film-6;
}

.film-7 {
    grid-area: film-7;
}

.film-8 {
    grid-area: film-8;
}

.film-9 {
    grid-area: film-9;
}
.contact-btn-container {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    text-align: center;
    flex-direction: column;
    margin-top:4em;
}
.contact-btn-subcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:1rem;
}
.contact-btn-main{
    height: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
}
.contact-btn-heading{
    letter-spacing: .1rem;
    font-size:2.5rem;
}
.contact-btn-desc{
    text-align:center;
    font-size:1.5rem;
    width:500px;
}
.contact-form-link:link,
.contact-form-link:visited{
    text-decoration: none;
    color:white;
    font-size:1.2rem;
    background-color:black;
    padding:1.5rem 2rem;
    letter-spacing:.2rem;
    border-radius:2rem;
    box-shadow:.5rem 1rem .5rem rgba(0, 0, 0, 0.387);
    width:300px;
    text-align:center;
}


.contact-form-link:active{
    box-shadow:.3rem .5rem .5rem rgba(0, 0, 0, 0.387);
    transform:translateY(.2rem);
}
.contact-btn-image-container{
    width: 35rem;
    text-align: right;
    margin:auto;
    display: flex;
    justify-content: flex-end;
}
.contact-btn-image{
    width:35rem;
}
.contact-btn-image-animation{
    animation:imageMoving 3s ease-in;
}
.contact-container{
    display:flex;
    flex-direction: column;
    font-size:.8rem;
    height:25rem;
    justify-content:space-between;
    background-color:#ece4db;
    padding:2rem;
    font-size:1.2rem;
}
.contact-main{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:15rem;
}
.contact-brand-image{
    width:6rem;
    height:5rem;
}
.contact-address{
    width:30%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
}
.address{
    margin:auto;
    text-align:center;
}
.contact-touch{
    height:100%;
    width:30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.mail a,.phone a{
    text-decoration: none;
    color:black;
}

.contact-social{
    width:30%;
    height:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-evenly;
}
.social-icons{
    width:50%;
    height:7rem;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.social-icon{
    color:black;
    transition: all .2s;
}
.social-icon:hover{
    transform: scale(1.3);
}
.contact-copyrights{
    margin:auto;
}
@keyframes filmHeading{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes imageMoving{
    0%{
        opacity: 0;
        transform:translateX(50px);
    }
    100%{
        opacity: 1;
        transform:translate(0)
    }
}
.respBrand{
    margin-top:0;
    top:0;    
}
@media(max-width:993px){
    
    .css-nav{
        height:550px;
        margin:auto;
    }
   
    .companyLogo{
        display:none;
        visibility:hidden;
    }
    .respLogo{
        display:block;
        width:50px;
        position:absolute;
        top:0;
        right:2%;
        margin-top: .5rem;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
    }
    .respLogo-click {
        width: 80px;
        transition:all 0.2s ease-in-out;
        }
}
@media(max-width: 800px){
    main{
        width: 100%;
    }
    

.photos-text{
    padding:0;
    width:100%;
}
.photo-desc{
    width:100%;
}
.film-heading,.film-desc{
    width:100% !important;
}
.testinomials{
    height:100% !important;
    width:100%;
}
.testtinomial-main{
    padding:0 !important;
    flex-direction: column;
    height:100% !important;
}
.testinomial-image{
    width:100% !important;
    max-width: 100%;
    aspect-ratio: 16/9;
    margin-bottom:2rem;
}
.testinomial-header{
    font-size:2rem !important;
}
.testinomial-image{
    box-shadow: none !important;
}
.testinomial-content{
    font-size:1.2rem;
    width:100% !important;
    height: 100% !important;
    padding: 0 .5rem;
}
.client-feedback{
    width:100%;
}
.contact-btn-container{
    height: 100%;
}
.contact-btn-subcontainer{
    flex-direction: column-reverse;
    height: 100%;
}
.contact-btn-main{
    width:100%;
}
.contact-btn-main p{
    width: 100%;
}
.contact-btn-main a{
    width: 90% !important;
}
.contact-btn-image-container{
    width:100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-btn-image-container img{

    width: 100%;
    max-width:300px;
}
}
@media(max-width:740px){
    .mobile-carousel {
        display:block;
        padding: 1rem;
        
    }
    .photos{
        display:none;
    }
    .mobileFilms{
        display:block;
    }
    .films{
        display:none;
    }
}
@media(max-width:450px){
    .contact-container{
        height: 100%;
        padding:0;
    }
    .contact-main{
        margin-top: 1rem;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content:space-between;
    }
    .contact-address,.contact-touch,.contact-social
    {
        margin-bottom:1rem;
        width: 100%;
    }
    .contact-copyrights{
        width: 100%;
        text-align: center;
    }
}